<h2>Edit Your Profile</h2>

<%= devise_error_messages! %>

<%= render :partial => "user", :locals => { :resource => resource, :html => { :method => :put }, :button_label => "Update Profile" } %>

<%= render "devise/shared/links" %>


<%= link_to "Back", :back %>
