<h2>Sign up</h2>

  <%= devise_error_messages! %>

  <%= render :partial => "user", :locals => { :resource => resource, :button_label => "Sign Up", :html => nil } %>

<%= render "devise/shared/links" %>
