It's <%= DateTime.current.to_time.strftime("%l:%M %p") %> and the doors are <%= @status[:unlocked] ? "open" : "not open" %> !

See more info at: <a href="http://live.heatsynclabs.org">http://live.heatsynclabs.org</a>

<a href="http://twitter.com/willbradley>@willbradley</a> programmed me to let y'all know, just in case. Cheers!
