<p>It's <%= DateTime.current.to_time.strftime("%B %d %l:%M %p") %> and the doors are <%= @status[:unlocked] ? "open" : "not open" %> !</p>

<p>See more info at: <a href="http://live.heatsynclabs.org">http://live.heatsynclabs.org</a></p>

<p><a href="http://twitter.com/willbradley">@willbradley</a> programmed me to let y'all know, just in case. If this is annoying or broken or awesome, let him know.</p>
