<h2>Your Statistical Data</h2>
<em>Data is power, and you've got the most: this system is programmed such that nobody else can see the graphs below but you! Use the JSON dumps to make something cool!</em>

<ul>
  <li><%= link_to 'MAC Address Data', mac_statistics_path %></li>
  <li><%= link_to 'Card Access Data', door_statistics_path %></li>
</ul>
