<%   @payment_methods = [[nil],["PayPal"],["Dwolla"],["Bill Pay","BillPay"],["Check"],["Cash"],["Other"]]
  @payment_instructions = {nil => nil, 
:PayPal => "Set up a monthly recurring payment to hslfinances@gmail.com or via the button on the next page.", 
:Dwolla => "Set up a monthly recurring payment to hslfinances@gmail.com or via the button on the next page.", 
:BillPay =>  "Have your bank send a monthly check to HeatSync Labs Treasurer, 140 W Main St, Mesa AZ 85201", 
:Check => "Mail to HeatSync Labs Treasurer, 140 W Main St, Mesa AZ 85201 OR put in the drop safe at the Lab with a deposit slip firmly attached each month.", 
:Cash => "Put in the drop safe at the Lab with a deposit slip firmly attached each month.", 
:Other => "Hmm... talk to a Treasurer!"} %>

<%= g.label :payment_method %><% if params[:action] != 'new' %> <i>(after changing this, please make sure you update your payment service, it's not automatic.)</i><% end %><br />
<%= g.select :payment_method, @payment_methods  %>
<% @payment_instructions.each_pair do |key, value| %>
  <span class="payment_instructions" id="pmt_<%= key %>"><%= value %></span>
<% end %>

