<div class="thumbnail col-lg-1 col-sm-2 col-xs-4">
    <%= image_tag user.gravatar_url(:default => "http://members.heatsynclabs.org/pirate.png") %>
    <span class="badges">
<%= render partial: 'badges', locals: {user: user} %>
</span>

    <h4><%= link_to user.name, user %></h4>
</div>
