<<<<<<< HEAD
<p id="notice"><%= notice %></p>
=======
>>>>>>> 03d99741e5b661e63f6281115d2db333082a09b1

<% if @upload_result %>
<p>
  <b>Upload result:</b>
  <%= @user.name %> uploaded successfully.
</p>
<% else %>
<p>
  <b>Upload result:</b>
  Error uploading <%= @user.name %>.
</p>
<% end %>

<%= link_to 'Back', users_path %>
