<<<<<<< HEAD
<p id="notice"><%= notice %></p>
=======
>>>>>>> 03d99741e5b661e63f6281115d2db333082a09b1

<p>
  <b>Download results:</b>
  <%= @results.inspect %>
</p>

<%= link_to 'Back', door_logs_path %>
