<h1>Listing certifications</h1>

<%= link_to 'Create Certification', new_certification_path if can? :create, Certification %> 

<ul>
<% @certifications.each do |certification| %>
  <li><%= link_to certification.name, certification %>
  <% if can? :update, certification %> | <%= link_to 'Edit', edit_certification_path(certification) %><% end %>
  <% if can? :destroy, certification %> | <%= link_to 'Destroy', certification, :confirm => 'Are you sure?', :method => :delete %><% end %>
  </li>
<% end %>
</ul>

<br />

