<h1>User Certifications</h1>

<%= link_to 'New User Certification', new_user_certification_path %>

  <% @grouped_user_certs.sort.each do |cert, user_certifications| %>
  <dl class="collapsible">
    <dt><%= cert.name %></dt>
    <% user_certifications.sort{|a,b| a.user_name <=> b.user_name}.each do |user_certification| %>
      <dd>
        <%= link_to user_certification.user_name, user_certification %>
      </dd>
    <% end %>
  </dl>
<% end %>

