<p>
  <b>User:</b>
  <%= @user_certification.user.name %>
</p>

<p>
  <b>Certification:</b>
  <%= @user_certification.certification.name %>
</p>


<%= link_to 'Edit', edit_user_certification_path(@user_certification) %> |
<%= link_to 'Back', user_certifications_path %>
