
<% if @upload_result %>
<p>
  <b>Upload result:</b>
  <%= @card.card_number %> uploaded successfully.
</p>
<% else %>
<p>
  <b>Upload result:</b>
  Error uploading <%= @card.card_number %>.
</p>
<% end %>

<%= link_to 'Back', cards_path %>
